* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
  }
  
  body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
  }


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
}

.headshot-center {

}

.headshot {
   width: 200px;
}

.section-about-me {
    background: #fdf2e9;
    padding: 9.6rem;
}

.about-me {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 9.6rem;
}

.about-me-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.milestones li {
    font-size: 2rem;
    line-height: 1.6;
}